.nav-link {
    font-size: 23px;
    text-decoration: none;
    color: #9fffcb;
    font-family: "Caveat";
}

.nav-link i {
    color: #9fffcb;
    font-size: 15px;
    padding-left: 2px;
}

.nav-link:hover, .nav-link:hover i {
     color: #25a18e;
}

.navbar {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.navbar-brand {
    font-family: "Indie Flower";
    font-size: 25px !important;
}

.navbar-brand .fa {
    font-size: 32px;
}

.nav-link-dropdown {
    font-size: 20px;
    text-decoration: none;
    color: #004E64;
    padding-left: 5px;
    font-family: "Caveat";
}

    .nav-link-dropdown i {
        color: #004E64;
        font-size: 15px;
        padding-left: 2px;
    }

    .nav-link-dropdown:hover, .nav-link-dropdown:hover i {
        text-decoration: none;
        color: black;
    }

.dropdown-menu div:hover {
    background-color: lightgray;
}