@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');


.container-page {
    max-width: 80% !important; 
    margin:auto;
}

.bg-imperial {
    background-color: #004E64;
}

.bg-green {
    background-color: #25A18E;
}

.text-imperial {
    color: #004E64 !important;
}

.text-green {
    color: #25A18E;
}

.text-mint {
    color: #9fffcb;
}

.bg-light {
    background-color: #efefef !important;
}

.font-header {
    font-family: "Caveat";
    color: #25A18E;
    text-shadow: 2px 2px 1px #25A28e;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 83px;
}

.btn-outline-green {
    border: 1px solid #25A18E;
    background-color: transparent;
    color: #25A18E;
    cursor: pointer;
}

    .btn-outline-green:hover {
        color: white;
        background-color: #25A18E;
    }

,pagination li {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px lightgray solid;
    margin-left: 2px;
    margin-right: 2px;
}

    .pagination li:hover {
        background-color: lightgray;
    }