@{
    ViewBag.Title = "About";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script src="~/Scripts/bootstrap.bundle.js"></script>
<script src="~/Scripts/counter.js"></script>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div id="hide"> lblblblblbllblb</div>
<p>Use this area to provide additional information.</p>
