@{
    ViewBag.Title = "About";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<link href="~/Content/fontawesome-all.css" rel="stylesheet" />
<link href="~/Css/about-us.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <div class="my-5 pb-5">
        <div class="container container-page">
            <div class="row pt-5">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title text-imperial">About Us</h2>
                        <p class="aboutus-text">Our site enables fast and efficient online booking tables. This application enables direct connection between the user and the  facility.</p>
                        <p class="aboutus-text">We invite all establishments (restaurants, locals, night clubs etc.) to become our partners / associates. We have a properly designed system that will 
                        improve and facilitate the process of reserving tables according to the terms we will define with you.</p>
                        <a class="aboutus-more" href="#">Contact us</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner mt-5 pt-3">
                        <img src="~/Content/IT_sliki/about.jpg" width="230px" height="280px;" />
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12 pl-4">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="fa  fa-cocktail fa-2x"></span>
                                </div>
                                <div class="feature-content text-white">
                                    <h4>Work with heart</h4>
                                    <p>We offer improved business performance as online booking of tables attracts new customers much faster and easier.</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="fa fa-beer fa-2x"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Reliable services</h4>
                                    <p>
                                        We constantly take care of the marketing and promotion of our web service so our member restaurants get more promotion.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="fa  fa-wine-glass fa-2x" aria-hidden="true"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Great support</h4>
                                    <p>Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>








}

