@using EventReservation.Models
@model LocalRequest
@{
    ViewBag.Title = "Contact";
}
<link href="~/Css/login-form.css" rel="stylesheet" />

<section id="loginForm">
    @using (Html.BeginForm("Contact", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center">Register</h5>
                            <form class="form-signin">
                                <div class="form-label-group">
                                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" required autofocus>
                                </div>
                                <div class="form-label-group">
                                    <input type="text" id="inputPhone" class="form-control" placeholder="Phone number" name="Phone" required autofocus>
                                </div>
                                <div class="form-label-group">
                                    <input type="text" id="inputName" class="form-control" placeholder="Name" name="Name" required autofocus>
                                </div>
                                <div class="form-label-group">
                                    <input type="text" id="inputSurname" class="form-control" placeholder="Surname" name="Surname" required autofocus>
                                </div>
                                <div class="form-label-group">
                                    <input type="text" id="inputLocalName" class="form-control" placeholder="Name of Local" name="LocalName" required autofocus>
                                </div>
                                <div class="form-label-group">
                                    @Html.DropDownList("LocalCity", new SelectList(ViewBag.cities), new { @class = "form-control", @required = true, @id = "inputLocalCity" })
                                </div>
                                <hr class="my-4">
                                <div class="form-label-group">
                                    <input value="Register" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" />
                                </div>
                                <div class="form-label-group">
                                    <p class="text-small">You will receive your sign-in data by email.</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}