@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/bundles/Jquery")

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript" src="~/Scripts/counter.js"></script>
<link href="~/Css/mainPageCss.css" rel="stylesheet" />

<div>
    <img src="~/Content/IT_sliki/bestParties.jpg" class="fixed" alt="Cover photo" style="width: 1360px; height: 700px; opacity: 0.9; align-content: center">
    <!-- Navigation
    <nav class="navbar  navbar-expand-lg navbar-dark static-top " id="meni">
        <div class="container p-5">
            <a class="navbar-brand text-white" style="font-size: 1.5em;" href="#">
                LOGO <span class="fa fa-cocktail fa-2x"></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="#">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Locals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>-->

    <div class="centered">
        <div class="row mb-2"><div class="col"> <p class="text-white font-weight-bold display-4 text-center">LOOKING FOR THE BEST PLACE TO PARTY?</p></div></div>
        <div class="row  text-center">
            <div class="col">
                <a class="btn text-white rounded btn-lg btn-outline-secondary font-weight-bold"
                   a href="~/Locals" style="width: 170px;">GO<i class="fa fa-arrow-right"></i></a> <div class="col"></div>
            </div>
        </div>
    </div>
</div>
<div style="background-color: #004e64">
    <div class="container cust_padding">
        <h2 class="offerText">What do we offer?</h2>
        <div class="card-deck">
            <div class="card">
                <img src="~/Content/IT_sliki/coctails.jpg" height="225" width="150" class="card-img-bottom rounded" />
                <div class="card-body">
                    <h5 class="card-title">The best coctails</h5>
                </div>
            </div>
            <div class="card">
                <img src="~/Content/IT_sliki/audience-backlit-blue-2078008.jpg" height="225" width="150" class="card-img-bottom rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Unforgetable moments</h5>
                </div>
            </div>
            <div class="card">
                <img src="~/Content/IT_sliki/clubs.jpg" height="225" width="150" class="card-img-bottom rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title">The perfect locations</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cust_padding2 text-center" style="background-color: #25a18e">
    <div class="container">
        <div class="row imperial-color">
            <h4 class="col">More than </h4>
            <h4 class="col">From over</h4>
            <h4 class="col-5">Surpassing </h4>
        </div>
        <div class="row counter mt-2">
            
            <div class="col"><h2 class="timer count-title count-number" data-to="840" data-speed="1000"></h2><h3 class="text-white">Coctails</h3></div>
            <div class="col"><h2 class="timer count-title count-number" data-to="120" data-speed="1000"> </h2><h3 class="text-white">Locals</h3></div> 
            <div class="col-5"><h2 class="timer count-title count-number" data-to="250" data-speed="1000"></h2> <h3 class="text-white">Satisfied customers</h3></div> 
        </div>
    </div>
</div>
<div class="imperial-backgroud pb-5">
    <div class="row">
        <div class="open-photo col offset-1"><img src="~/Content/IT_sliki/opeeen.jpg" height="400" width="500" style="border-radius: 20px;" /></div>
        <div class="col border imperial-color" style="border-radius: 20px;">
            <h2 class="own-text offset-1">You own a place? </h2>
            <h4 class="text-white"></h4>
            <h4 class="text-white">Join us</h4>
            <h4 class="text-white">Join us</h4>
            <h4 class="text-white">Join us</h4>
            <button class="btn btn-lg offset-8 ">Contact us</button>
        </div>
    </div>
</div>
