@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/bundles/Jquery")

<link href="~/Css/main-page.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript" src="~/Scripts/counter.js"></script>
<script src="~/Scripts/caroules.js"></script>
<link href="~/Css/back-to-top-button.css" rel="stylesheet" />
<style>

    .overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */


/* Position the close button (top right corner) */
.dropdown {
    background-color: transparent;
}

</style>
<form action="top">
    <a href="#" id="back-to-top" class="back-to-top" onclick=" topFunction()" style="display: inline;"><i class="fa fa-arrow-up fa-2x"></i></a>
</form>
<!-- Fades in the button when you scroll down -->

<div>
    <img src="~/Content/IT_sliki/bestParties.jpg" alt="Cover photo" style="width: 1360px; opacity:0.9; height: 700px;" class="bgimg">
    <div class="centered">
        <div class="row"><div class="col"> <p class="text-white font-weight-bold display-4 text-center">
            LOOKING FOR THE BEST PLACE TO PARTY?</p></div></div>
        <div class="row text-center">
            <div class="col">
                <a class="btn btn-go btn-lg" href="~/Events" style="width: 170px; ">
                    GO <i class="fa fa-arrow-right"></i>
                </a>
                 
            </div>
        </div>
    </div>
</div>

<div class="carousel-padding bg-imperial">
    <h2 class="text-center text-mint mb-5 heading-carousel display-4">What do we offer</h2>
    <div class="row container offset-1">
        <div id="slider-2" class="carousel carousel-by-item slide" data-ride="carousel" data-interval="2000">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="col-md-3 col-sm-4 col-12">
                        <div class="card">
                            <img src="~/Content/IT_sliki/audience.jpg" height="200" width="100" class="card-img-bottom rounded" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Make unforgetable memories</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3 col-sm-4 col-12">
                        <div class="card">
                            <img src="~/Content/IT_sliki/cocktail.jpeg" height="200" width="100" class="card-img-bottom rounded" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Taste the best cocktails</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3 col-sm-4 col-12">
                        <div class="card">
                            <img src="~/Content/IT_sliki/smilemore.jpeg" height="200" width="100" class="card-img-bottom rounded" />
                            <div class="card-body">
                                <h5 class="card-title">Dance till dawn</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3 col-sm-4 col-12">
                        <div class="card">
                            <img src="~/Content/IT_sliki/band.jpeg" height="200" width="100" class="card-img-bottom rounded" />
                            <div class="card-body">
                                <h5 class="card-title">Listen to your favourite band</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3 col-sm-4 col-12">
                        <div class="card">
                            <img src="~/Content/IT_sliki/party.jpeg" height="200" width="100" class="card-img-bottom rounded" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Feel the party atmosphere</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#slider-2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#slider-2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    }
</div>

<div class="cust_padding2 text-center bg-green">
    <div class="container">
        <div class="row text-imperial">
            <h4 class="col mb-0">More than </h4>
            <h4 class="col mb-0">From over</h4>
            <h4 class="col-5 mb-0">Surpassing </h4>
        </div>
        <div class="row counter mt-2">
            <div class="col"><h1 class="timer count-title count-number mb-0" data-to="840" data-speed="1000"></h1><h3 class="text-white">Coctails</h3></div>
            <div class="col"><h1 class="timer count-title count-number mb-0" data-to="120" data-speed="1000"> </h1><h3 class="text-white">Locals</h3></div>
            <div class="col-5"><h1 class="timer count-title count-number mb-0" data-to="250" data-speed="1000"></h1> <h3 class="text-white">Satisfied customers</h3></div>
        </div>
    </div>
</div>

<div class="imperial-backgroud pb-5 text-center">
    <div class="row text-center">
        <div class="row justify-content-center" style="width:100%;">
            <h2 class="offerText">You own a place?</h2>
        </div>

        <div class="row justify-content-center" style="width:100%;">
            <div class="text-center">
                <h5 class="join-us-text">Join us! Share the events that are happening in your place with us and with the whole world.</h5>
            </div>
        </div>
        <div class="row justify-content-center mt-3 text-center" style="width:100%;">
            @Html.ActionLink("Contact us", "Contact", "Home", new { @class = "btn join-us-btn" })
        </div>

        <div class="row justify-content-center m-5 text-center" style="width:100%" id="OnScroll">
            <div class="images">
                <img src="~/Content/join-us-images/img1.jpg" style="max-width: 200px; max-height: 265px; border:none; border-radius:8px;" id="myImage1">
                <img src="~/Content/join-us-images/img2.jpg" style="max-width: 200px; max-height: 265px; border:none; border-radius:8px;" id="myImage2">
                <img src="~/Content/join-us-images/img3.jpg" style="max-width: 200px; max-height: 265px; border:none; border-radius:8px;" id="myImage3">
                <img src="~/Content/join-us-images/img4.jpg" style="max-width: 200px; max-height: 265px; border:none; border-radius:8px;" id="myImage4">
                <img src="~/Content/join-us-images/img5.jpg" style="max-width: 200px; max-height: 265px; border:none; border-radius:8px;" id="myImage5">
            </div>
        </div>
    </div>
</div>
<hr id="join-us-hr" />

<script>
    var navv = document.getElementById("proba");
    navv.classList.add("centered2");
    navv.classList.add("shadow");
    



    var link = document.getElementById("back-to-top");
    var amountScrolled = 250;

    window.addEventListener('scroll', function (e) {
        if (window.pageYOffset > amountScrolled) {
            link.classList.add('show');
        } else {
            link.className = 'back-to-top';
        }
    });
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
</script>