@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="text-center mt-5">
    <h3>Reset Password Confirmation</h3>
    <h5>
        Your password has been reset.
    </h5>
    <h5>
        Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).
    </h5>
</div>
