@model IEnumerable<EventReservation.Models.Reservation>

@{
    ViewBag.Title = "ListReservations";
}
<style>
    .row {
        width:90%;
        margin: auto;
    }
    td {
        display: table-cell;
        vertical-align: middle !important;
    }

    select {
        margin-left: 5px;
        margin-right: 5px;
    }

    label {
        justify-content: flex-start !important;
        margin-left: 4%;
    }

    .col-sm-6:nth-child(2) label {
        margin-left: 52%;
    }
</style>
<h4 class="text-green text-center display-5 font-header mt-5">Reservations for</h4>
<h4 class="text-green text-center display-5 font-header ">@ViewBag.eventName</h4>

<table class="table table-striped container text-center" id="listReservationsId">
    <thead>
        <tr>
            <th>Reservation Name</th>
            <th>Reserved Tables</th>
            <th>User</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.NoTables</td>
                <td>@item.userEmail</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    <script>
        $(document).ready(function () {
            $("#listReservationsId").DataTable();
        });

    </script>
}