@model IEnumerable<EventReservation.Models.Local>
<link href="~/Css/locals-index.css" rel="stylesheet" />
@{
    /**/

    ViewBag.Title = "Index";
}
<style>
    .imp a {
        text-decoration: none;
        color: #25A18E !important;
    }
   
</style>
<div class="bg-light container">
    <div class="container-page container pt-5 pb-4">
        <h2 class="text-green text-center display-4 font-header">Our locals</h2>
        <div class="row pb-5 pt-4">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 p-1 imp">
                    <a>
                        <div class="content shadow-lg rounded">
                            <div class="content-overlay"></div>
                            <img class="content-image " src='@Url.Content("~/Content/bestParties.jpg")' alt="bla">
                            <div class="content-details fadeIn-top">
                                <h3>@Html.ActionLink(@item.Name, "Details", new { id = item.Id })</h3>
                                <div>
                                    <p>stars</p>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            }
        </div>
    </div>
    <div class="container">
        <nav class="offset-4 p-5">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>


